        /* Flex layout setup */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        /* colors */
        .custom-bg-krem {background-color: #FFCC99;}
        .custom-bg-red {background-color: #ca4646;}
        .custom-bg-orange {background-color: #ff9428;}
        .custom-bg-yellow {background-color: #ecd23a;}
        .custom-bg-lime {background-color: #12c51b;}
        .custom-bg-green {background-color: #1a7741;}
        .custom-bg-teal {background-color: #00e2bc;}
        .custom-bg-skyblue {background-color: #6eb2ff;}
        .custom-bg-blue {background-color: #4990e0;}
        .custom-bg-purple {background-color: #9900ff;}
        .custom-bg-pink {background-color: #ff99e6;}
        .custom-bg-brown {background-color: #7a3d00;}
        .custom-bg-gold {background-color: #738533;}
        .custom-bg-greyish {background-color: #ffffff;}
        .custom-bg-greenishteal {background-color: #0b9b70;}
        

        /* Main content should take up all available space */
        .content {
            flex: 1;
        }

        /* Banner and section styling */
        .banner {
            background-image: url('/img/banner.jpeg');
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 450px;
            position: relative;
            z-index: w;
        }



        .banner h1 {
            position: relative;
            z-index: 2;
            color: white;
        }

        .banner h3 {
            position: relative;
            z-index: 2;
            color: white;
        }

        .section {
            padding: 40px 20px;
        }
        
        .footer {
            background-color: #315044;
            color: white;
            padding: 20px 0;
            text-align: center;
        }

      